* {
    box-sizing: border-box;
}

@font-face {
    font-family: lato;
    src: url(/fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: facebook;
    src: url(../fonts/fa/fa-brands-400.ttf);
}

/* FA*/

.fa {
    font-family: facebook;
}

.fa.dribbble:hover {
    background-color: #EC95BF;
    cursor: pointer;
}

.fa.instagram:hover {
    color: #f8f8f8;
    background-color: #DD3260;
    cursor: pointer;
}

.fa.twitter:hover {
    background-color: rgb(85, 173, 238);
    color: #f8f8f8;
    cursor: pointer;
}

.fa.facebook:hover {
    cursor: pointer;
    color: #f8f8f8;
    background-color: #516fad;
}

.fa.facebook::before {
    content: "\f39e";
    cursor: pointer;
}

.fa.twitter::before {
    content: "\f099";
}

.fa.instagram::before {
    content: "\f16d";
}

.fa.dribbble::before {
    content: "\f17d";
}

/* BASE */

html {
    color: #606060;
    font-family: lato;
    font-size: 1rem;
}

body {
    margin: 0;
    font-family: lato, sans-serif;
}

.flex {
    display: flex;
}

/* DESKTOP */

.complete-nav-bar {
    margin: 0;
    align-items: center;
}

span {
    color: #52b538;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0 0 0rem;
}

.header-container {
    background-color: #292929;
    color: #ffffff;
    justify-content: space-around;
    align-items: center;
    box-shadow: -1px 0 0 #1d1d1d;
    max-width: 100%;
}

.logo {
    font-size: 2.5rem;
}

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-bar li {
    border-left: 1px solid #1d1d1d;
    border-right: 1px solid #1d1d1d;
}

.nav-bar li:first-child {
    color: #58c93a;
    border-left: 2px solid #212121;
    border-bottom: 1px solid #58c93a;
    box-shadow: -1px 0 0 #1d1d1d, inset 0 -6px 0 #58c93a;
}

.nav-bar a {
    display: flex;
    align-items: center;
    height: 8.5rem;
    padding-right: 45px;
    padding-left: 45px;
    color: inherit;
    text-decoration: none;
}

.menu-btn {
    visibility: hidden;
    padding: 0;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
}

.main-content {
    flex-direction: column;
    max-width: 980px;
    margin: 0 auto;
    border-left: 1px solid #eae9e9;
    border-right: 1px solid #eae9e9;
}

main .card:first-child {
    margin-top: 5rem;
}

.card {
    margin-bottom: 5em;
    max-width: 980px;
}

.card-title {
    font-size: 28px;
    font-weight: 700;
    /* width: 386px; */
    padding-bottom: 2.80rem;
    text-transform: uppercase;
    font-family: lato, sans-serif;
    line-height: 30px;
}

.card-info {
    flex-direction: column;
    margin-left: 2.5rem;
    height: 307px;
}

p {
    margin: 0 0 0;
}

.card-text {
    font-family: lato, sans-serif;
    letter-spacing: 0.48px;
    flex-direction: column;
    font-weight: 400;
    color: #606060;
    line-height: 20px;
}

.p1 {
    padding-bottom: 27px;
}

.p2 {
    padding-bottom: 36px;
}

.card-info button:hover {
    border: 2px solid #58c93a;
    color: #58c93a;
    width: 210px;
    background-image: url('../images/arrow.jpg');
    background-repeat: no-repeat;
    background-position-x: 11.25rem;
    background-position-y: center;
    cursor: pointer;
}

.card-info button {
    width: 186px;
    height: 40px;
    border-radius: 20px;
    background-color: #fff;
    color: #c2c1c1;
    border: 2px solid #c2c2c2;
    letter-spacing: 0.48px;
    font-weight: 700;
    font-size: 1rem;
    transition: color, width 0.3s;
}

.co-footer {
    justify-content: space-between;
    border: 1px solid #eae9e9;
    height: 75px;
    align-items: center;
}

.co-footer a {
    text-decoration: none;
    color: #818181;
}

.main-footer {
    flex-direction: column;
    background-color: #f8f8f8;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    height: 19.678rem;
}

.main-footer h2 {
    padding-bottom: 2.06rem;
}

.main-footer p {
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    padding-bottom: 2.5rem;
    /* align-items: center; */
    /* background-color: grey; */
    text-align: center;
}

.social-container {
    padding: 0;
    width: 250px;
    display: flex;
    justify-content: space-evenly;
}

.social-container li {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.social-container li a {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #e5e5e5;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    transition: all 0.35s;
    cursor: pointer;
}

.modal button {
    border-radius: 4px;
    background-color: rgb(156, 156, 156);
    border: honeydew;
    cursor: pointer;
    color: white;
    font-size: 12px;
    width: 70px;
}

.modal {
    padding: 20px 20px;
    visibility: hidden;
    background-color: rgba(192, 190, 190, 0.726);
    width: 40%;
    border-radius: 3px;
    height: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
}

body.open-modal .modal {
    visibility: visible;
}

@media (max-width: 980px) {
    .main-content {
        /* background-color: lawngreen; */
    }
    .header-container {
        justify-content: space-evenly;
    }
    .card {
        display: flex;
        margin-bottom: 2.3em;
        height: 250px;
        max-width: 830px;
    }
    .card img {
        width: 400px;
    }
    .card-title {
        padding-bottom: 1rem
    }
    .p1 {
        padding-bottom: 15px;
    }
    .p2 {
        padding-bottom: 20px;
    }
}

@media(max-width:740px) {
    .main-content {
        max-width: 650px;
    }
    .menu-btn {
        visibility: visible;
        position: absolute;
    }
    .main-content .card {
        /* background-color: lightgreen; */
        margin: 0 auto;
    }
    .header-container {
        justify-content: space-between;
        padding: 0px 0px;
        height: 4.5rem;
        position: relative;
        z-index: 2;
        /* overflow: hidden; */
    }
    .card {
        object-fit: cover;
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
    }
    .card img {
        padding-bottom: 2rem;
    }
    body.open-menu .nav-bar {
        transform: translate(0%, 0%);
    }
    .nav-bar {
        z-index: -1;
        position: fixed;
        transition: transform 0.8s;
        transform: translate(0%, -100%);
        margin: 0;
        padding: 0;
        flex-direction: column;
        right: 0;
        left: 0;
        top: 0;
        height: 100vh;
        background-color: rgba(190, 190, 190, 0.548);
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        /* overflow: hidden; */
    }
    .nav-bar a:hover {
        color: #58c93a;
    }
    .nav-bar a {
        display: flex;
        text-decoration: none;
        color: inherit;
        height: 30%;
        width: 10px;
        align-items: center;
        justify-content: center;
    }
    .nav-bar li:first-child {
        border-left: 0px solid #212121;
        box-shadow: 0 0 0 #1d1d1d, inset 0 0 0 #58c93a;
        border-bottom: 3px solid rgb(255 255 255 / 33%);
        ;
    }
    .nav-bar li {
        border-bottom: 3px solid rgb(255 255 255 / 33%);
        ;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 130px;
        border-left: 0px;
        border-right: 0px;
        width: 100vw;
    }
    .main-screen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0 0 0 / 70%);
        cursor: pointer;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.8s;
    }
    body.open-menu .main-screen {
        opacity: 1;
        visibility: visible;
    }
    .menu-btn {
        right: 0;
        cursor: pointer;
        width: 50px;
        height: 50px;
        border-radius: 5px;
        border: white;
        background-color: #58c93a;
    }
    body.open-modal .modal {
        visibility: visible;
    }
    body.open-modal .main-screen {
        visibility: visible;
        opacity: 1;
    }
    .modal {
        width: 60%;
        height: 50;
    }
    .social-container {
        width: 100%;
    }
}

@media(max-width:400px) {
    .card img {
        width: 350px;
    }
    .card-info {
        margin-left: 0;
        text-align: center;
    }
    .card-title {
        /* display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        /* overflow: hidden; */
        text-overflow: ellipsis;
        */
    }
    .main-footer p {
        font-size: 12px;
        text-align: center;
    }
}