* {
    box-sizing: border-box;
}

@font-face {
    font-family: lato;
    src: url(/fonts/Lato-Regular.ttf);
}

/* BASE */

html {
    color: #606060;
    font-size: 1rem;
}

body {
    margin: 0;
}

/* DESKTOP */

.flex {
    display: flex;
    margin: 0;
    align-items: center;
    height: 8.5rem;
}

span {
    color: #52b538;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0 0 0rem;
}

.header-container {
    /* width: 1500px; */
    height: 8.5rem;
    display: flex;
    background-color: #292929;
    color: #ffffff;
    justify-content: space-around;
    align-items: center;
    padding: 60px 0px;
    box-shadow: -1px 0 0 #1d1d1d;
}

.logo {
    /* display: flex; */
    /* align-items: center; */
    font-size: 2.5rem;
}

.nav-bar {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 8.5rem;
}

.nav-bar li {
    display: flex;
    border-left: 1px solid #1d1d1d;
    border-right: 1px solid #1d1d1d;
    align-items: center;
}

.nav-bar li:first-child {
    color: #58c93a;
    border-left: 2px solid #212121;
    border-bottom: 1px solid #58c93a;
    box-shadow: -1px 0 0 #1d1d1d, inset 0 -6px 0 #58c93a;
}

.nav-bar a {
    padding-right: 45px;
    padding-left: 45px;
    color: inherit;
    text-decoration: none;
}

.menu-btn {
    visibility: hidden;
    padding: 0;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    max-width: 980px;
    margin: 0 auto;
    border-left: 1px solid #eae9e9;
    border-right: 1px solid #eae9e9;
}

/* img {
} */

main .card:first-child {
    margin-top: 5rem;
}

.card {
    display: flex;
    margin-bottom: 5em;
    height: 307px;
    max-width: 980px;
}

.card-title {
    font-size: 28px;
    font-weight: 700;
    /* width: 386px; */
    padding-bottom: 2.80rem;
    text-transform: uppercase;
    font-family: lato, sans-serif;
    line-height: 30px;
}

.card-info {
    /* display: flex; */
    /* flex-direction: column; */
    margin-left: 2.5rem;
    height: 307px;
}

p {
    margin: 0 0 0;
}

.card-text {
    font-family: lato, sans-serif;
    letter-spacing: 0.48px;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    color: #606060;
    line-height: 20px;
}

.p1 {
    padding-bottom: 27px;
}

.p2 {
    padding-bottom: 36px;
}

.card-info button:hover {
    border: 2px solid #58c93a;
    color: #58c93a;
    width: 210px;
    background-image: url('../images/arrow.jpg');
    background-repeat: no-repeat;
    background-position-x: 11.25rem;
    background-position-y: center;
    cursor: pointer;
}

.card-info button {
    width: 186px;
    height: 40px;
    border-radius: 20px;
    background-color: #fff;
    color: #c2c1c1;
    border: 2px solid #c2c2c2;
    letter-spacing: 0.48px;
    font-weight: 700;
    font-size: 1rem;
    transition: color, width 0.3s;
}

.co-footer {
    display: flex;
    justify-content: space-between;
    border: 1px solid #eae9e9;
    height: 75px;
    align-items: center;
}

.co-footer a {
    text-decoration: none;
    color: #818181;
}

.main-footer {
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    height: 19.678rem;
}

.main-footer h2 {
    padding-bottom: 2.06rem;
}

.main-footer p {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 2.5rem;
    /* align-items: center; */
    /* background-color: grey; */
    /* text-align: center; */
}

.social-container {
    display: flex;
}

.social-container li {
    width: 12.5rem;
    display: flex;
    justify-content: space-evenly;
}

.social-container li a {
    text-decoration: none;
}

@media (max-width: 980px) {
    .main-content {
        /* background-color: lawngreen; */
    }
    .header-container {
        justify-content: space-evenly;
    }
    .card {
        display: flex;
        margin-bottom: 2.3em;
        height: 250px;
        max-width: 830px;

    }
    .card img {
        width: 400px;
    }
    .card-title {
        padding-bottom: 1rem
    }
    .p1 {
        padding-bottom: 15px;
    }
    .p2 {
        padding-bottom: 20px;
    }
}

@media(max-width:740px) {
    .menu-btn {
        visibility: visible;
    }
    .main-content .card {
        /* background-color: lightgreen; */
        margin: 0 auto;
      
    }
    .header-container{
        justify-content: space-between;
        padding: 0px 0px ;
        height: 4.5rem;

    }
    .card {
        object-fit: cover;
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
    }
    .card img {
        padding-bottom: 2rem;
        width: auto;
    }
    body.open-menu .nav-bar {
        transform: translateX(0%);
    }
    .nav-bar {
        transition: transform 0.8s;
        transform: translateX(100%);
        margin: 0;
        padding: 0;
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        background-color: rgba(190, 190, 190, 0.548);
        display: flex;
        list-style-type: none;
        justify-content: space-between;
    }
    .nav-bar a:hover {
        color: #58c93a;
    }
    .nav-bar a {
        display: flex;
        text-decoration: none;
        color: inherit;
        height: 30%;
        width: 280px;
     
        align-items: center;
        justify-content: center;
    }
    .nav-bar li:first-child{
        border-left: 0px solid #212121;
        box-shadow: 0 0 0 #1d1d1d, inset 0 0 0 #58c93a;
        border-bottom: 1px solid black;
    }
    .nav-bar li {
        border-bottom: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 130px;
        border-left: 0px;
        border-right: 0px;
    }
    .main-screen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0 0 0 / 70%);
        cursor: pointer;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.8s;
    }
    body.open-menu .main-screen {
        opacity: 1;
        visibility: visible;
    }
    .menu-btn{
        right: 0;
        cursor: pointer;
        width: 50px;
        height: 50px;
        border-radius: 5px;
        border:white;
        background-color: #58c93a;
    }
    body.open-modal .modal{
        visibility: visible;
    }
    body.open-modal .main-screen{
        visibility: visible;
        opacity: 1;
    }

    .modal{
        visibility: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        background-color: rgb(255 255 255 / 64%);
        /* display: none; */
        width: 50%;
        height: 12.5rem;
    }
    
}



/*
@media (min-width: 200px) {
    .main-screen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0 0 0 / 70%);
        cursor: pointer;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.8s;
    }
    body.open-menu .main-screen {
        opacity: 1;
        visibility: visible;
    }
    .header-container {
        justify-content: space-between;
    }
    .main-content {
        background-color: red;
    }
    .card {
        display: block;
    }
    body.open-menu .nav-bar {
        transform: translateX(0%);
    }
    .nav-bar {
        transition: transform 0.8s;
        transform: translateX(100%);
        margin: 0;
        padding: 0;
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        background-color: rgba(190, 190, 190, 0.548);
        display: flex;
        list-style-type: none;
        justify-content: space-between;
    }
    .nav-bar a:hover {
        color: #58c93a;
    }
    .nav-bar a {
        display: flex;
        text-decoration: none;
        color: inherit;
        height: 30%;
        width: 280px;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        align-items: center;
        justify-content: center;
    }
    .nav-bar li {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 130px;
    }
}

@media (min-width: 740px) {
.logo{
    display: block;
}
.header-container{
    display: flex;
    justify-content: space-between;
}
    .nav-bar {
        display: flex;
        right: 10%;
        flex-direction: row;
        list-style-type: none;
        border-bottom: 1px solid #1e1e1e;
        transform: translateX(0%);
        height: 0vh;
    }
    .nav-bar a:hover {
        color: #58c93a;
    }
    .nav-bar a {
        border-bottom: 0px solid black;
        border-top: 0px solid black;
        text-decoration: none;
        color: inherit;
    }
    .nav-bar li {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 130px;
        border-right: 2px solid #212121;
    }
    .nav-bar li:first-child {
        border-left: 2px solid #212121;
        border-bottom: 1px solid #58c93a;
        box-shadow: -1px 0 0 #1d1d1d, inset 0 -6px 0 #58c93a;
    }
    .main-content {
        background-color: lawngreen;
    }
    .card{
        display: flex;
    }
    .card-title {
        padding-bottom: 0.8rem;
    }
    .card-info {
        display: block;
    }
    .card-text {
        font-family: lato, sans-serif;
        letter-spacing: 1.50px;
        display: flex;
        flex-direction: column;
        font-weight: 400;
        color: #606060;
        line-height: 20px;
    }
    img {
        height: 290px;
    }
}

@media(min-width: 980px) {
    .header-container {
        justify-content: space-around;
    }
    .main-content {
        background-color: blue;
    }
    .card{
        display: flex;
    }
    .card-title {
        font-size: 28px;
        font-weight: 700;
        width: 386px;
        padding-bottom: 2.80rem;
        text-transform: uppercase;
        font-family: lato, sans-serif;
        line-height: 30px;
    }
    .card-text {
        letter-spacing: 0.48px;
    }
    img {
        height: 307px;
    }
} */